:root {
    --clr-neutral-100: hsla(0, 0%, 100%, 0.75); /* Transparent white (paragraphs) */
    --clr-neutral-200: hsl(0, 0%, 95%); /* Very light gray (background, headings, buttons) */

    --clr-primary-300: hsl(31, 77%, 52%); /* Bright orange */
    --clr-primary-600: hsl(184, 100%, 22%); /* Dark cyan */
    --clr-primary-700: hsl(179, 100%, 13%); /* Very dark cyan */

    --fs-400: 0.9375rem; /* 15px */ /* base */
    --fs-500: 2.125rem; /* 34px */

    --fw-400: 400; /* base */
    --fw-500: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        /* transition-duration: 0.01ms !important; */
        scroll-behavior: auto !important;
    }
}

a,
a:focus,
a:visited {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.container {
    max-width: 20.25rem;
    margin: 5.625rem auto 5.625rem auto;
}

.card {
    padding: 3rem;
}

.card:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.card__header {
    margin-top: 2.625rem;
    margin-bottom: 2.625rem;
    font-family: 'Big Shoulders Display', cursive;
    font-size: var(--fs-500);
    font-weight: var(--fw-500);
    color: var(--clr-neutral-200);
}

.card--orange {
    background-color: var(--clr-primary-300);
}

.card--dark-cyan {
    background-color: var(--clr-primary-600);
}

.card--very-dark-cyan {
    background-color: var(--clr-primary-700);
}

.card__paragraph {
    margin-bottom: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-100);
    line-height: 1.8;
}

.card__btn {
    background-color: var(--clr-neutral-200);
    padding: 0.875rem 2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    border: 2px solid var(--clr-neutral-100);
    border-radius: 5rem;
    transition: all 0.3s ease;
}

.card__btn--orange {
    color: var(--clr-primary-300);
}

.card__btn--dark-cyan {
    color: var(--clr-primary-600);
}

.card__btn--very-dark-cyan {
    color: var(--clr-primary-700);
}

.card__btn:hover {
    color: var(--clr-neutral-200);
    background-color: transparent;
}

@media (min-width: 36rem) {
    main {
        height: 100vh;
        width: 100vw;
        display: grid;
        place-items: center;
    }
    .container {
        max-width: 57.5rem;
        margin: 0;

        display: flex;
        flex-direction: row;
    }

    .card:first-of-type {
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .card:last-of-type {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }

    .card__paragraph {
        margin-bottom: 5.25rem;
    }
} ;
